:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
  --Base-font-size: 15px;
  --Smaller-font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--Base-font-size);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--Slate-300);
}

main {
  background-color: var(--Slate-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p {
  text-align: center;
}
.qr-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: var(--White);
  max-width: 320px;
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
}

.qr-code {
  max-width: 100%;
}

.qr-image {
  max-width: 100%;
  border-radius: 10px;
}

.qr-text {
  color: var(--Slate-500);
  max-width: 100%;
  line-height: 140%;
  padding: 0 16px;
  margin-top: 24px;
}

.qr-text .bold {
  color: var(--Slate-900);
  font-weight: 700;
  font-size: 1.467rem;
  line-height: 120%;
  margin-bottom: 16px;
}

@media screen and (max-width: 320px) {
  html {
    font-size: var(--Smaller-font-size);
  }
}
